
<table>
    <thead>
        <tr>
            <th colspan="2">Current schedule</th>
        </tr>
    </thead>
    <tbody>
        {{!-- add a table row for each session that is open in the last 2 hours --}}
        <tr>
            <td>Status</td>
            <td>Student</td>
            <td>Assigned TA</td>
            <td>Issue</td>
            {{!-- add time started --}}
            {{!-- add time completed --}}
            <td>Help requested</td>
            <td>Session resolved</td>
            <td>Action</td>  
        </tr>

        {{#each sessionList}}
        <tr>
            <td>{{status}}</td>
            <td>{{student.username}}</td>
            <td>{{teacher.username}}</td>
            {{!-- add time started --}}
            {{!-- add time completed --}}
            <td>{{description}}</td>
            <td>{{sessionStartDate}}</td>
            <td>{{sessionEndDate}}</td>
            <td><a href="/private/close/{{_id}}">Close session</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>

