
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Status</td>
            <th scope="col">Student</td>
            <th scope="col">Assigned TA</td>
            <th scope="col">Issue</td>
            {{!-- add time started --}}
            {{!-- add time completed --}}
            <th scope="col">Help requested</td>
            <th scope="col">Session resolved</td>
            <th scope="col">Action</td>  
        </tr>
    </thead>
    <tbody>
        {{!-- add a table row for each session that is open in the last 2 hours --}}
        <tr>

        </tr>

        {{#each sessionList}}
        <tr>
            <td>{{status}}</td>
            <td>{{student.username}}</td>
            <td>{{teacher.username}}</td>
            {{!-- add time started --}}
            {{!-- add time completed --}}
            <td>{{description}}</td>
            <td>{{sessionStartDate}}</td>
            <td>{{sessionEndDate}}</td>
            <td><a href="/private/close/{{_id}}">Close session</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>

